{
    "IsEncrypted": false,
    "Values": {
      "FUNCTIONS_WORKER_RUNTIME": "node",
      "AzureWebJobsStorage": "{AzureWebJobsStorage}",
      "BALOO": "<baloo bearer token>",
      "AZURE_PROXY": "<azure proxy bearer token>"
    }
  }